@{
    ViewBag.Title = "about";
}



<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">About us</h1>
            </header>
            <h3>Intro:</h3>
            <p><img src="~/Images/mac.jpg" alt="" class="img-rounded pull-right" width="300">It's a simple application system.Students can notify principal through this system and principal can approve or reject students application. </p>
            <h3>PAS</h3>
            <p>PU Application System(PAS) is quite easy to use.Chill it's totally free guyz.In split seconds you can send your applications to principal.</p>
            <h3>Facilities</h3>
            <p>Our system providing you an easy way to notify principal.And you will get quick response from principal as well.  </p>
          
        </article>
        <!-- /Article -->
        <!-- Sidebar -->
        <aside class="col-sm-4 sidebar sidebar-right">

            <div class="widget">
                @*<h4>Vacancies</h4>
                <ul class="list-unstyled list-spaces">
                    <li><a href="">PAS</a><br><span class="small text-muted">It's a simple application system.Students can notify principal through this system and principal can approve or reject students application.</span></li>
                    <li><a href="">PUCIT</a><br><span class="small text-muted">PUCIT Application System(PAS) is quite easy to use.Chill it's totally free guyz.In split seconds you can send your applications to principal.</span></li>
                    <li><a href="">FACILITIES</a><br><span class="small text-muted">Our system providing you an easy way to ntify principal.And you will get quick response from principal as well. </span></li>
                </ul>*@
            </div>

        </aside>
        <!-- /Sidebar -->

    </div>
</div>	<!-- /container -->

